<h1>Usuarios registrados</h1>
<main class="flex-grow-1 m-auto w-100 d-flex flex-column">
<link rel="stylesheet" href="/products.css">
<div id="productos" class="container d-flex flex-wrap justify-content-evenly">
{{#each users}}

<div id="productsContainer"></div>

<a class="cardButton" type="button" data-email="{{this.email}}">
<div class="card" style="width: 15rem;">
  <img src="{{this.photo}}" class="card-img-top" alt="...">
    <h5 class="card-title">{{this.name}}</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{this.lastName}}</li>
    <li id="userEmail" class="list-group-item">{{this.email}} </li>
  </ul>
</div>
</a>
{{/each}}
  </section>
  <span class="w-100 d-flex justify-content-center">
    {{#if prev}}
      <a
        class="btn btn-danger fs-5 m-4 mt-0"
        href="/?title={{filter}}&page={{prev}}"
      >PREV</a>
    {{/if}}
    {{#if next}}
      <a
        class="btn btn-danger fs-5 m-4 mt-0"
        href="/?title={{filter}}&page={{next}}"
      >NEXT</a>
    {{/if}}
</div>
</main>
<script src="/scripts/adminProducts.js"></script>