<h1>Tus productos</h1>
<main class="flex-grow-1 m-auto w-100 d-flex flex-column">
<link rel="stylesheet" href="/products.css">
<div id="productos" class="container d-flex flex-wrap justify-content-evenly">
{{#each products}}
<div class="card" style="width: 15rem;">
  <img src="{{this.photo}}" class="card-img-top" alt="...">
    <h5 class="card-title">{{this.title}}</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{this.price}}</li>
    <li class="list-group-item">{{this.stock}} </li>
    <img class="deleteButton" id={{this._id}} src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAZlJREFUaEPtWTFOw0AQnO0RSPCEmIoWp4CUmAKQ+A0FD8iHECDFlCQFTgtNwhMAIR6wCKEgy4q1d3t3sSzW7e7s7szcybKX0POHej4/jEDXDgY5sDg8uSSiKwAHAHY8yXwCeCbi8eDp4dYT+5euJvA6PL1g5htt4zqOGOeDeXmnqaUmsMyLKYAjTdM1mFlWlceaWnoCw+ILjC1N0yaGgff9qtzT1NITyAuuN8yq0qvWMhC/6u3VtD5w6ACheCMQqmAoXnSg2UBzwWJi2u5Y6x0wAjHlB/D/HGgKGOvStRmjre/8HtA2cD1J2vpGwFVhKa9zB6QBQuNtAkQ7QqEDSngjICmUOm4OpFZYqm8OSAqljpsDqRWW6psDkkKp4+ZAaoWl+uaApFDqeHIHpA8WKS4JYAS0CknKr+La+tG+yFwH7ey3yiIv3gjYDR3UBe+z8PBx4BGAag3kMnQjZ5pV5cgF50wg5lJPHIzpLJtP7sU8wG/R/UsC1wD/rFW3XRp45HwAeCHG2Gdj6eyAxyAbTTUCG5V7TbPeO/AN+v+sQEsryjsAAAAASUVORK5CYII="/>
  </ul>
</div>
{{/each}}
  </section>
  <span class="w-100 d-flex justify-content-center">
    {{#if prev}}
      <a
        class="btn btn-danger fs-5 m-4 mt-0"
        href="/?title={{filter}}&page={{prev}}"
      >PREV</a>
    {{/if}}
    {{#if next}}
      <a
        class="btn btn-danger fs-5 m-4 mt-0"
        href="/?title={{filter}}&page={{next}}"
      >NEXT</a>
    {{/if}}
</div>
</main>
<script src="/scripts/productDelete.js"></script>